* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Irish Grover', sans-serif;
    color: white;
    background: linear-gradient(to bottom, #0f0f0f, #393838);
    max-width: 100vw;
}

body::-webkit-scrollbar {
    width: 0; 
    background: transparent; 
  }

#containerHome {
    height: auto;
    width:100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}


#like{
    background-color: transparent;
    outline: none;
    border: none;
}

#comentario{
    background-color: transparent;
    outline: none;
    border: none;
}

#buttonAdicionar{
    background-color: transparent;
    outline: none;
    border: none;
}

#menu{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    height: 15vh;
    top: 0;
}

#logoHome{
    display: flex;
    flex-shrink: 0;
}

#perfilUser{
    display: flex;
    position: absolute;              
    width: 2vw;
    flex-shrink: 0;
    right: 0;
    margin-top: 10px;
    overflow: hidden;
    max-width: 100%;
    margin-right: 10px;
    

}

#pesquisar{
    background-color: white;
    color: black;
    margin-top: 5px;
    width: 30vw;
    height: 7vh;
    border-radius: 20px;
    padding: 15px;
    font-size: 20px;
    border: none;
    outline: none;
    font-family: 'Irish Grover', sans-serif;
    font-size: 12px;
}

.publicacao{
   margin-top: 50px;
   display: flex;
   flex-direction: column;
   gap: 10px;
}
.containerPublicacao{
    width: 30%;
    height: 400px;
}

.imgUser {
    width: 50px;
    height: 50px;
    border-radius: 50%
}

.nomeUser{
    font-size: 20px;
    margin-left: 60px;
    margin-top: -40px;
}

.userPost{
    width: 300px;
    height: 200px;
}

.userPostP{
    margin-left: 35px;
    margin-top: -30px;
}

.fotoPostImg{
    width: 30vw;
    height: 25vh;
    margin-left: 30px;
    margin-top: -130px;
}

.descricaoPost{
    margin-top: 10px;
    margin-left: 30px;
    width: 300px;
}

.like {
    margin-top: 8px;
    margin-left: 30px;
}

.comentario {
    display: flex;
    margin-left: 55px;
    margin-top: -35px;
}

.comentarioUser{
    margin-left: 10px;
}

.user{
    color: gray;
}

.comentarioUser{
    color: white;
}

#buttonAdicionar{
    display: flex;
    bottom: 0;
    position: absolute;

}

#adicionar{
    background-color: #FFD000;
    width: 100%;
    height: 50px;
    display: flex;
    bottom: 0;
    position: fixed;
    align-items: center;
    justify-content:center;
   
}

.divComentar {
    background-color: #FFD000;
    font-size: 15px;
    width: 370px;
    height: auto;
    margin-top: 10px;
    margin-left: 60px;
    border-radius: 10px;
}

.inputComentario{
    margin: 10px;
    width: 70%;
    font-size: 15px;
    color: black;
    background-color: transparent;
    border: none;
    outline: none;
    resize: vertical;
}

.inputComentario::placeholder{
    color: black;
}

.botaoComentar{
    font-size: 14px;
    width: 80px;
    height: 25px;
    color: white;
    background-color:black;
    border-radius: 10px;
    border: none;
    outline: none;
    padding: 5px;
}

.comentarioExibido{
    display:flex;
    align-items: center;
    margin-top: 10px;
    color: black;
    margin-left: 10px;
}

.imgPerfil{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 8px;
}

.textoComentario{
    font-size: 14px;
    color: black;
}